* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
body {
    background: black;
}
.titlebar {
    display: grid;
    grid-template-areas: ". title btn";
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 1.75rem;
    color: darkgrey;
    background: #222222;
    -webkit-app-region: drag
}
.titlebar-title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
}
.titlebar-btns {
    grid-area: btn;
    display: flex;
    align-content: center;
    justify-self: right;
}
.titlebar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 1.75rem;
    cursor: pointer;
    font-size: .95rem;
    line-height: 1.75rem;
    -webkit-app-region: no-drag;
}
.titlebar-btn:hover {
    color: white;
    background: rgba(255, 255, 255, .1);
}
#app-close:hover {
    background: rgba(255, 0, 0, 0.75);
}
.stream-content {
    z-index: 1;
}
.stream-content, .stream-cover {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
}
.stream-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#stream {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.stream-cover {
    z-index: 10;
}